
#navbar{
       -fx-background-color: white;
}
#root{
       -fx-background-color: #F6F5F2;

}
#view{
    -fx-background-color: white !important;
    -fx-background-radius: 1.5em;
}
#overview, #bookingview, #revenueview{
    -fx-background-color: white !important;
}
#sections{
-fx-background-color: #F6F5F2 !important;
}
#inner-sections{
-fx-background-color: #F2F2EE !important;
}

#labels{
-fx-fill: black !important;
}

/*Buttons Style*/
#buttons, #logout, #currentPage{
       -fx-background-color: transparent;
       -fx-font-family: 'Open Sans',sans-serif;
       -fx-text-fill: black;
}

#logout:pressed{
       -fx-background-color: #E60F28;
}
#logout:hover{
    -fx-cursor: hand;
    -fx-background-color: #F56476;
}

#buttons:hover{
    -fx-cursor: hand;
    -fx-background-color: #F6F5F2;

}

#buttons:pressed{
    -fx-background-color: #E3E9C2;
}

#currentPage{
 -fx-background-color: #F6F5F2 !important;
}